<h1>Your Questions<button id="open-popover">New Question</button></h1>
<table class="questions">
  <tr>
    <th>Abbrev.</th>
    <th>Question Text</th>
    <th></th>
  </tr>
</table>
<div class="cover">
  <div class="popover">
    <h2>New Question<span id="close-popover">Close Window</span></h2>
    <form id="new-question">
      <input type="text" name="abbreviation" placeholder="Abbreviation..." id="abbrev"></input>
      <textarea name="text" placeholder="Question Text..." id="text"></textarea>
      <input type="submit" value="Add Question" id="submit"></input>
    </form>
  </div>
</div>