<h1>Select Trial Questions<a href="#trials/<%= trial.get('id') %>/review">Review Trial</a></h1>
<div class="form">
  <label>Select questions:</label>
  <select>
    <option>Add existing questions...</option>
    <% for(i = 0; i < questions.length; i++ ) { %>
      <% var model = questions.at(i); %>
      <option value="<%= model.get('id') %>">Question <%= model.get('abbreviation') %> (<%= model.get('abbreviation') %>)</option>
    <% } %>
  </select>
</div>
<table id="questions">
  <tr>
    <th>Abbrev.</th>
    <th>Text</th>
    <th></th>
  </tr>
</table>