<h1>You've completed <%= trials.length %> trial<%= trials.length > 1 ? "s" : "" %><button id="start-trial">Start a new trial</button></h1>
<table class="trials">
  <tr>
    <th>Trial Date</th>
    <th>Number of Questions</th>
    <th>Number of Jurors Added</th>
    <th></th>
  </tr>
</table>

