<!DOCTYPE html>
<html>
<head>
  <title>JurySelection</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>

  <div class="header">
    <div class="wrapper">
      <a href="/" class="logo">JurySelect</a>
      <% if current_user %>
        <a href="#questions">Questions</a>
        <a href="#trials">Trials</a>
        <a class="right" href="/logout">Logout</a>
      <% else %>
        <a class="right" href="/login">Login</a>
        <a class="right" href="/register">Register</a>
      <% end %>
    </div>
  </div>
  
  <%= yield %>

</body>
</html>
